@{
    ViewBag.Title = "About Scheduling and Monitoring System";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is used to schedule commands and monitor the system's operations</p>
