@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Network Scheduler and Monitoring system</h2>
    <p class="lead">This application caters a way of running commands and monitor those commands' ops.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Please sign-in or register to access this!
        </p>
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
            </ul>
    </div>

</div>